target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.yml
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.yml 
#  yml 不能修改

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
